@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

div#screen_main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

div.boxButton {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	color: white;
	position: absolute;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	cursor: pointer;
	transition: transform 0.2s ease, filter 0.2s ease;
}
div.boxButton:hover {
	filter: brightness(1.2);
}

div.boxButton:active {
	transform: scale(0.95);
}

div.boxLight {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	outline: none;
	text-decoration: none;
	border-image: none;
	pointer-events: none;
}

.oscilloscopeContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
}

.dialContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
}

.dialContainer:hover {
	filter: brightness(1.2); 
}

.screenContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	position: absolute;
	justify-content:center;
	align-content:center;
	align-items: center; 	
}

div.dial{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
}
.dial:hover {
	filter: brightness(1.2); 
}

p#rotationNum{
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	margin: 0; 
	pointer-events: none; 
	color: black; 
	user-select: none; 
	font-style: bold; 
	font-family: "Fira Sans", sans-serif;
	font-size : 4vmin; 
	font-weight: 800;
}

.data-show-container {
	display: flex; 
	position: absolute; 
	align-items: center; 
	gap: 3vmin;
	pointer-events: none; 
	align-items: center;
	justify-content: center;
	transition: opacity 2.5s ease, visibility ease 2.5s;
}
  
.data-show {
	text-align: center; 
	font-size: 2.8vmin; 
	color: rgb(207, 252, 199);
	font-style: bold; 
	font-family: "Press Start 2P", system-ui;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: left;
	line-height: 1;
	-webkit-text-stroke: 0.1vmin rgba(38, 58, 33,0.7);
	//text-stroke: 1px white;
}

.multi-button{
	color:rgb(135, 109, 86);
	pointer-events:none;
	font-family: "Press Start 2P", system-ui;
	margin-top: 12vmin;
	text-align: bottom;
	font-size:1.5vmin;
}